# MongoDB Connection URI (Replace with your own cluster or local mongodb uri)
MONGO_URL=mongodb+srv://<username>:<password>@cluster.mongodb.net/stockly?appName=StocklyCluster

# JWT Secret Key for Session Authentication
TOKEN_KEY=your_secret_token_key_here

# Port for Backend Server (default: 3002)
PORT=3002
